<app-home *ngIf="isLogged"></app-home>

<div class="container">

<div *ngIf="themes" class="theme-title">

    <!-- theme component  -->
    <div *ngFor="let item of themes" class="theme-container">
        <div class="theme-name-wrapper">
            <div class="theme-name">
                <a  [routerLink]="['/themes', item._id]" class="normal">
                    <h2>{{item.themeName}}</h2>
                </a>
                <div class="columns">
                    <div>
                        <p>Date: <time>{{item.created_at}}</time></p>
                        <div class="nick-name">
                            <p>Username: <span>{{item.userId.username}}</span></p>
                        </div>
                    </div>
                    <div class="subscribers">
                        <button *ngIf="isLogged" class="subscribe">Subscribe</button>
                        <p>Subscribers: <span>{{item.subscribers.length}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<app-aside title="Recent posts" [items]="posts"></app-aside>

<div *ngIf="!themes">Loading...</div>

</div>