<div class="container">
    <form #form="ngForm" class="login" action="" method="post" (ngSubmit)="login(form)">

        <fieldset>
            <h2>Login Form</h2>

            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input #emailInput="ngModel" ngModel [appCustomValidator]="emailValidator" class="input-error" type="email" name="email" id="email" placeholder="john.doe@gmail.com" required email>
            </p>
            <p *ngIf="emailInput.touched && emailInput.errors?.required" class="error">
                Email is required!
            </p>
            <p *ngIf="emailInput.touched && emailInput.errors?.invalidEmail" class="error">
                Email is not valid!
            </p>

            <p class="field field-icon">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input #passwordInput="ngModel" ngModel type="password" name="password" id="password" placeholder="******" [minlength]="4" required>
            </p>
            <p *ngIf="passwordInput.touched && passwordInput.errors?.required" class="error">
                Password is required!
            </p>
            <p *ngIf="passwordInput.touched && passwordInput.errors?.minlength" class="error">
                Password must be at least 4 characters!
            </p>

            <button>Login</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/register">Register</a>
            </p>

        </fieldset>
    </form>
</div>